@import url('https://fonts.googleapis.com/css2?family=Orelega+One&family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "outfit";
}

.font-orelega-one {
    font-family: "Orelega One";
}

.bg-darker {
    background-color: rgba(178, 179, 119, 1);
}

.bg-dark {
    background-color: rgba(210, 209, 128, 0.2);
}

.bg-light {
    background-color: rgba(229, 228, 131, 0.2);
}

.bg-lighter {
    background-color: rgba(241, 245, 168, 0.2);
}

.text-cl-darker {
    color: rgba(178, 179, 119, 1);
}

.text-cl-dark {
    color: rgba(210, 209, 128, 0.2);
}

.text-cl-light {
    color: rgba(229, 228, 131, 0.2);
}

.text-cl-lighter {
    color: rgba(241, 245, 168, 0.2);
}

.text-cl-gray {
    color: #545454
}